@import url("../index.css");

/*
PAGE STYLE
*/
.main-page {
  position: absolute;
  min-height: calc(100vh - 100px);
  padding: 20px;
  overflow-y: auto;
  /*width: calc(100vh - 350px);*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: margin-left 0.3s ease;
  left: 75px;
  top: 100px;
  bottom: 0;
  right: 0;
}

.sidebar-container.open ~ .main-page {
  margin-left: 75px;
}

.sidebar-container:hover ~ .main-page {
  margin-left: 350px;
}

.row-full-width-document-list {
  width: 95%;
}

.row-full-height-document-list {
  height: 100%;
}

@media (min-width: 1020px) {
  .form-container {
    width: 50%;
  }
}

.form-container-document-details {
  max-width: 90% !important;
}

.form-container,
.form-container-document-table,
.form-container-document-details {
  background-color: white;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  max-width: 1200px;
  padding-inline: 70px;
  padding-block: 30px;
  box-sizing: border-box;
  max-height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* ombra principale */ 0 8px 16px rgba(0, 0, 0, 0.1); /* ombra estesa */
}

.row-box-custom {
  border: 2px solid #adbbba;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Adds a soft shadow */
}

/*
FORM STYLE
*/
.document-form {
  padding: 20px;
  width: 40%;
}

.document-form-link {
  padding: 20px;
}

.row-box {
  margin-left: 10px;
  margin-right: 10px;
}

.col-box {
  width: 50%;
  margin-top: 20px;
}

.geo-box {
  width: 50%;
  margin-top: 5px;
}

.row-box-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
}

.form-title {
  font-size: x-large;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-left: 15px;
  margin-bottom: 25px;
}
.step-number {
  color: #adbbda;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/*
GENERAL TEXT STYLE
*/
.big-bold-text {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
  justify-content: left;
  color: #1e1e1e;
}

.blue-text {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: left;
  color: #3d52a0;
  margin-bottom: 20px;
}

.black-text-coord {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  justify-content: left;
  color: #1e1e1e;
  padding-top: 10px;
}

.black-text {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: 300;
  justify-content: left;
  color: #1e1e1e;
  padding-top: 10px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 18px;
}

.description-container {
  margin-left: 10px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}

/*
BUTTON STYLE
*/
.button-white,
.button-blue {
  font-size: 24px;
  padding: 5px;
  width: 110px;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.button-white {
  background-color: white;
  border-color: #3d52a0;
  color: #3d52a0;
}

.button-blue {
  background-color: #3d52a0;
  border-color: #3d52a0;
  color: white;
}

.button-white:hover {
  background-color: white;
  color: #3d52a0;
  border-color: #3d52a0;
}

.button-blue:hover,
.add-link-button:hover {
  background-color: #3d52a0;
  color: white;
  border-color: #3d52a0;
}

.button-white:hover,
.button-blue:hover,
.add-link-button:hover {
  transform: scale(1.075);
}
.button-white:active,
.button-blue:active,
.add-link-button:active {
  transform: scale(0.95);
}

.button-small,
.button-small:hover {
  background-color: transparent;
  border-color: #3d52a0;
  color: #3d52a0;
  font-size: 18px;
}

.button-small-save,
.button-small-save:hover {
  background-color: #3d52a0;
  border-color: #3d52a0;
  color: white;
  font-size: 18px;
}

.add-link-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  border: none;
  background-color: #3d52a0;
  box-shadow: "0px 2px 5px rgba(0, 0, 0, 0.2)";
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 auto;
}

.remove-link-button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: red;
  margin-top: 5px;
}

/*
STEP PROGESS BAR
*/
.step-indicator-row {
  margin-bottom: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.step-col {
  text-align: center;
}

.step-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #adbbda;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #adbbba;
  margin: 0 auto;
  font-size: 20px;
}

.step-circle.active {
  background-color: #adbbda;
  color: white;
}

.step-circle.completed {
  background-color: #0cce6b;
  color: white;
}

.step-label {
  margin-top: 05px;
  font-size: 18px;
  color: #1e1e1e;
}

.step-title {
  font-size: 20px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.solid-line {
  height: 5px;
  background-color: #adbbda;
}

.line-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*
TOAST
*/

.toast-container {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  padding: 5px;
  border-radius: 5px;
}
/* Container for the icon and text */
.toast-content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
}

/* Custom styles for the green circle icon */
.toast-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  color: white;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toast-bold {
  font-weight: bold;
  color: black;
  font-size: 22px;
}

.toast-subtext {
  color: black;
  font-size: 16px;
}

/*
DROPDOWN STYLE
*/
.dropdown-toggle {
  background-color: white;
  color: #1e1e1e;
  border: 1px solid #ccc;
  box-shadow: none;
  text-align: left;
  width: 100%;
  white-space: normal; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words */
}
.dropdown-toggle:hover {
  background-color: white;
  color: #1e1e1e;
  cursor: default;
  border-color: #1a73e866;
}

.dropdown-toggle:focus,
.dropdown-toggle:active,
.show > .dropdown-toggle {
  outline: none;
  background-color: white !important;
  color: #1e1e1e !important;
  box-shadow: 0 0 0 4px rgba(26, 115, 232, 0.3);
}

.dropdown.show,
.dropdown-toggle {
  background-color: white !important;
}

.dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 8px;
  width: 100%;
  margin-top: 4px;
}

.dropdown-item {
  padding: 5px 10px;
  color: #1e1e1e;
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: rgba(26, 115, 232, 0.12);
}

.form-check-input:checked + .form-check-label {
  color: #3d52a0;
}

.form-check-input {
  cursor: pointer;
}

.form-check-label {
  color: black !important;
}
/*
SMALL LAPTOP RESPONSIVE PAGE
*/
@media (max-width: 1024px) {
  .main-page {
    margin-left: 70px;
    left: 0;
  }
  .sidebar-container.open ~ .main-page {
    margin-left: 70px;
  }
  .sidebar-container:hover ~ .main-page {
    margin-left: 300px;
  }

  .document-form {
    width: 100%;
    margin-top: 0px;
  }

  .big-bold-text {
    font-size: 30px;
  }

  .blue-text {
    font-size: 20px;
  }

  .black-text,
  .black-text-coord {
    font-size: 20px;
  }

  .font-size-20 {
    font-size: 16px;
  }
  .font-size-18 {
    font-size: 14px;
  }
  .button-white,
  .button-blue {
    font-size: 18px;
    width: 70px;
    padding: 5px;
  }

  .button-small {
    font-size: 12px;
    padding: 5px;
  }

  .step-circle {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .step-label {
    font-size: 16px;
  }

  .step-title {
    font-size: 20px;
  }

  .solid-line {
    height: 4px;
  }
}

/*
LAPTOP RESPONSIVE PAGE
*/
@media (min-width: 1024) {
  .main-page.sidebar-open {
    display: block;
    margin-left: 350px;
  }
}

/*
TABLET RESPONSIVE PAGE
*/
@media (max-width: 768px) {
  .main-page {
    margin-left: 0px;
    left: 0;
  }
  .sidebar-container.open ~ .main-page {
    margin-left: 60px;
  }
  .sidebar-container:hover ~ .main-page {
    margin-left: 300px;
  }

  .document-form {
    width: 100%;
    margin-top: 0px;
  }

  .big-bold-text {
    font-size: 20px;
  }

  .blue-text {
    font-size: 16px;
  }

  .black-text,
  .black-text-coord {
    font-size: 12px;
  }

  .font-size-20 {
    font-size: 12px;
  }
  .font-size-18 {
    font-size: 12px;
    padding: 5px;
  }
  .button-white,
  .button-blue {
    font-size: 14px;
    width: 70px;
    padding: 5px;
  }

  .button-small {
    font-size: 12px;
    padding: 5px;
  }

  .step-circle {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .step-label {
    font-size: 12px;
  }

  .step-title {
    font-size: 16px;
  }

  .solid-line {
    height: 3px;
  }

  .add-link-button {
    width: 35px;
    height: 35px;
  }

  .remove-link-button {
    width: 25px;
    height: 25px;
  }

  .form-container {
    padding-inline: 30px;
    padding-block: 10px;
  }
}

/*
MOBILE RESPONSIVE PAGE
*/
@media (max-width: 480px) {
  .step-circle {
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  .step-label {
    font-size: 10px;
  }

  .step-title {
    font-size: 12px;
  }

  .solid-line {
    height: 3px;
  }

  .form-title {
    font-size: 22px;
    margin-left: 0px;
  }

  .row-box {
    margin-left: -15px;
    margin-right: -15px;
  }

  .add-link-button {
    margin-left: 10px;
  }

  .description-container {
    margin-left: -5px;
  }
}

/*
LOGIN
*/
/* Container principale per occupare tutta la pagina */
.loginContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #dedede 0%, #768ec8 58%, #3d52a0 100%);
  top: 0;
}

.explorer {
  font-weight: bold;
  font-size: 36px;
  background: -webkit-linear-gradient(left, #3d52a0, #768ec8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title-text {
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 300;
  color: #000000;
}

.loginWrapper {
  display: flex;
  background-color: #ffffff;
  border-radius: 1px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  height: 800px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

/* "@" Icon styling */
.input-icon {
  font-size: 18px;
  color: #3d52a0;
  margin-left: 8px;
  margin-right: 10px;
}

.input-container {
  margin-bottom: 16px;
}

.input-field {
  display: flex;
  align-items: center;
  border: 2px solid #768ec8;
  border-radius: 4px;
  padding: 8px;
  height: 40px;
  box-sizing: border-box;
}

.input-icon {
  font-size: 18px;
  color: #3d52a0;
}

.toggle-password {
  background: none;
  border: none;
  cursor: pointer;
  color: #3d52a0;
  padding-left: 8px;
  padding-right: 10px;
}

.toggle-password:focus {
  outline: none;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: "";
  flex: auto;
  border-top: 1px solid #898989;
  margin: 0 10px; /* Spacing around the text */
}

.divider span {
  font-size: 16px;
  color: #3d52a0;
  white-space: nowrap;
}
.visitor-resident-btn {
  color: #3d52a0;
  font-size: 18px;
  text-decoration: none;
}

.visitor-resident-btn:hover {
  color: #5f7ec5;
  text-decoration: underline;
}

/* Sezione sinistra per il form, centrata verticalmente e orizzontalmente */
.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* Larghezza al 50% per dividere perfettamente */
  padding: 40px;
}

.loginFormContainer {
  justify-content: center;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form input {
  border-radius: 20px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  border-color: #636fa4;
  background-color: #adbbba;
  border-width: 2px;
}

.form input:focus {
  background-color: #adbbba;
}

/* Responsive button styling */
.loginBtn {
  background-color: #3d52a0;
}

.loginBtn {
  position: relative;
  align-items: center;
  border-radius: 4px; /* Rounded corners */
  padding: 12px;
  border: 2px solid #768ec8;
  width: 95%; /* Full width on smaller screens */
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffff;
}

.loginBtn:hover {
  background-position: right center; /* change the direction of the change here */
  background-color: #5f7ec5;
  color: #fff;
  text-decoration: none;
}

/* Sezione destra per l'immagine, con effetto opaco */
.imageSection {
  width: 50%; /* Larghezza al 50% per dividere perfettamente */
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Immagine completamente contenuta e opaca */
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.85;
}

/* Responsive adjustments */
@media (max-width: 992px) {
  /* Stacks columns vertically on medium screens */
  .loginWrapper {
    flex-direction: column;
    height: auto;
    max-width: 600px;
  }
  .formSection,
  .imageSection {
    width: 100%;
    padding: 20px;
  }
  .title-text {
    font-size: 34px;
  }
}

@media (max-width: 768px) {
  /* Full-width layout for small screens */

  .loginContainer {
    padding: 20px;
  }
  .formSection {
    padding: 20px;
  }
  .loginBtn {
    font-size: 18px;
    padding: 8px;
    width: 95%;
  }

  .title-text {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  /* Further adjustments for extra small screens */
  .loginWrapper {
    padding: 10px;
  }
  .formSection {
    padding: 10px;
  }
  .loginBtn {
    font-size: 16px;
    padding: 6px;
  }
  .imageSection {
    display: none; /* Hide image on extra small screens */
  }
  .title-text {
    font-size: 28px;
  }
}

@media (max-width: 426px) {
  .sidebar-container:hover ~ .main-page {
    display: none;
  }
  .document-form .row-box {
    flex-direction: column; /* Stack items vertically */
  }

  .document-form .col-box {
    width: 100%; /* Full width for each column on small screens */
  }

  .title-text {
    font-size: 26px;
  }
}

.pages-col {
  --bs-gutter-x: 0;
}

/*
MAP
*/

.map-wrapper {
  position: absolute;
  top: 100px;
  left: 75px;
  right: 0;
  bottom: 0;
  width: calc(100% - 75px);
  height: calc(100vh - 100px); /* Calcola direttamente l'altezza */
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.map-container {
  position: relative; /* Mantenuto */
  width: 100%;
  height: 100%; /* Deve occupare tutto lo spazio del wrapper */
}

.sidebar-container.open ~ .map-wrapper {
  left: 75px;
}
.sidebar-container:hover ~ .map-wrapper {
  left: 350px;
}

.modal-title.h4 {
  color: black;
  font-size: 24px;
}

.leaflet-popup-content-wrapper {
  background-color: white;
  border-radius: 10px;
  min-width: 250px;
}

.leaflet-popup-content p {
  font-size: 16px;
  color: #768ec8;
  margin: 0;
  padding: 2px;
}

.leaflet-popup-content h5 {
  font-size: 20px;
  font-weight: bold;
  color: #3d52a0;
}

.leaflet-popup-close-button span {
  color: black;
  font-size: 20px;
}

.drop-zone {
  height: 20vh;
  box-sizing: border-box;
  background: #c4cadf;
  border: 2px dashed #a8afd1;
  border-radius: 10px;
  text-align: center;
  padding: 5%;
}

.uploaded-doc-row {
  background: #ede8f5;
  border-radius: 10px;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem;
  align-items: center;
}

.uploaded-doc-name {
  font-family: "Open Sans", sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

/* DOCUMETS LIST CSS */

/* Colori alternati */
.even-row {
  background-color: #f9f9f9 !important; /* Light grey */
}

.odd-row {
  background-color: white; /* White */
}

/* Altri stili esistenti */
.table {
  border-collapse: separate;
  border-spacing: 0 10px; /* Spaziatura tra le righe */
}

.table thead {
  background-color: white;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.table thead th {
  font-family: "Open Sans", sans-serif;
  font-weight: 550;
  color: #202020;
  font-size: 0.9rem;
  padding-bottom: 12px;
}

.table tbody td {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  vertical-align: middle;
  border: none;
  padding: 12px 16px;
}

.table tbody tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table tbody tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Badge per le icone colorate */
.badge {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 10px;
}

/* Badge per le icone colorate */

.badge-text {
  background-color: #f9837c !important;
}

.badge-plan {
  background-color: #3d52a0 !important;
}

.badge-concept {
  background-color: #adbbda !important;
}

.badge-actions {
  background-color: #0cce6b !important;
}

/* Pulsanti di azione */
button.btn-link {
  color: #8c8c8c;
  font-size: 1.2rem;
  margin-right: 8px;
}

button.btn-link:hover {
  color: #333;
}

/* Tooltip personalizzato */
.tooltip-inner {
  background-color: #333;
  color: white;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 4px;
}

.items-per-page-span {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-left: 7px;
  color: #898989;
}

.pagination {
  margin-top: 15px;
}

.page-item.active .page-link {
  background-color: #3d52a0 !important;
  border-color: #3d52a0 !important;
  color: white;
}
.page-item .page-link {
  color: #3d52a0;
}

/* Move document on map button */

.draggable-toggle-btn {
  margin-top: 12px;
  font-size: 1rem;
  padding: 8px 16px;
  background-color: #3d52a0;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.draggable-toggle-btn:hover {
  background-color: #3d52a0;
}

/*
DIAGRAM
*/
.tooltip {
  position: absolute !important;
  border-radius: 5px !important;
  background-color: white !important;
  color: black !important;
  z-index: 9999 !important;
  opacity: 1 !important;
  visibility: visible !important;
  overflow: visible !important;
  font-size: 14px !important;
}

.diagram-wrapper {
  position: absolute;
  left: 75px;
  top: 100px;
  bottom: 0;
  right: 0;
  transition: margin-left 0.3s ease;
}

.sidebar-container.open ~ .diagram-wrapper {
  left: 75px;
}
.sidebar-container:hover ~ .diagram-wrapper {
  left: 350px;
}

.react-flow__pane {
  background-color: white;
  border: none;
}
.react-flow__edge {
  stroke: #333;
}
.react-flow__background {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: transparent;
  background-image: linear-gradient(#333 1px, transparent 0px),
    /* Adjusted from em to px */ linear-gradient(90deg, #333 1px, transparent 0px); /* Adjusted from em to px */
  background-size: 140px 85px; /* Adjusted from em to px */
  z-index: -1;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
  height: 650px;
}

.diagram-header {
  height: 50px;
}

.header-cell {
  border-top: none;
  border-left: none;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  text-align: left;
  font-weight: bold;
  color: #3d52a0;
}

.side-cell {
  border-top: none;
  border-left: 1px solid transparent;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 100px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d52a0;
}

.bg-cell {
  border-top: none;
  border-left: none;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  height: 100px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.node-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 200px;
  margin: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.node-form input,
.node-form button {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.node-form button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.node-form button:hover {
  background-color: #0056b3;
}

.diagram-svg-fix svg {
  overflow: visible;
  position: absolute;
}

.node-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 50px;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 3px;
  cursor: move;
  z-index: 10;
}

/*
DOCUMENT DETAILS
*/

.document-wrapper {
  position: absolute;
  min-height: calc(100vh - 100px);
  left: 75px;
  top: 100px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  padding: 5px;
}

.sidebar-container.open ~ .document-wrapper {
  left: 75px;
}
.sidebar-container:hover ~ .document-wrapper {
  left: 350px;
}

.form-container .blue-text strong {
  font-size: 32px;
  font-weight: bold;
  margin-top: 15px;
}

.title-container {
  margin-left: 20px;
  margin-top: 0;
}
/*applying table style in document details */
.table-container {
  display: flex;
  justify-content: flex-start;
  gap: 0px;

  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 30px;
  margin-right: 0px;
  flex-wrap: wrap;
}

.margintop-15px {
  margin-top: 15px;
}

.table-container strong,
.linked-documents strong,
.resources strong,
.stakeholders strong {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0px;
}

.table-container img {
  margin-right: 10px;
  max-width: 50px;
  margin-bottom: 0px;
}

/* styling descriotion in document details*/
.description-row {
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.description-row strong {
  font-size: 1.25rem;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.description-row span {
  margin-top: 15px;
  color: #898989;
}
/* applying table style in document details*/
.linked-documents-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table-row {
  display: table-row;
  padding: 8px 12px;
  text-align: left;
  background-color: inherit;
}

.dark-row {
  background-color: #f5f5f5; /* Light gray */
}

.light-row {
  background-color: #ffffff; /* White */
}

.document-title {
  display: table-cell;
  text-align: flex;
}

.document-connection {
  display: table-cell;
  text-align: flex;
}

.no-documents {
  margin-top: 10px;
  text-align: center;
  color: #666;
}

.field-box {
  margin-top: 0;
  display: flex;
  align-items: center;
}

.field-box span {
  margin-left: 5px;
}

@media (max-width: 1024px) {
  .modal-title.h4 {
    font-size: 20px;
  }

  .sidebar-container.open ~ .map-wrapper,
  .sidebar-container.open ~ .document-wrapper,
  .sidebar-container.open ~ .diagram-wrapper {
    left: 70px;
  }

  .sidebar-container:hover ~ .map-wrapper,
  .sidebar-container:hover ~ .document-wrapper,
  .sidebar-container:hover ~ .diagram-wrapper {
    left: 300px;
  }
}

@media (max-width: 768px) {
  .map-wrapper,
  .document-wrapper,
  .diagram-wrapper {
    left: 0;
  }
  .modal-title.h4 {
    font-size: 16px;
  }

  .sidebar-container.open ~ .map-wrapper,
  .sidebar-container.open ~ .document-wrapper,
  .sidebar-container.open ~ .diagram-wrapper {
    left: 60px;
  }

  .sidebar-container:hover ~ .map-wrapper,
  .sidebar-container:hover ~ .document-wrapper,
  .sidebar-container:hover ~ .diagram-wrapper {
    left: 300px;
  }
}

.clickable-title:hover {
  color: #3d52a0;
  text-decoration: underline;
}

.view-linked-documents-button,
.view-linked-documents-button:hover,
.view-linked-documents-button:active {
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  border: none;
}
.view-linked-documents-icon {
  width: 24px;
  height: 24px;
}

.input-color-wheel,
.form-color-wheel {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  border: none;
}
.col-color-wheel {
  width: 50px !important;
}
